.welcome {
  color: red;
  font-size: 20px;
}
.btn {
  color: white;
  background-color: green;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}
.gender,
.block {
  background-color: blue;
  padding: 15px;
}
